<div class="cart-item">
    <div class="row align-items-center">
        <div class="col-lg-6 col-12 mt-3 mt-lg-0 mb-lg-0 mb-3">
            <div class="product-info d-flex align-items-center">
                <div class="product-image">
                    <img src="{{ asset('assets/img/product/product-5.webp') }}" alt="Product" class="img-fluid" loading="lazy">
                </div>
                <div class="product-details">
                    <h6 class="product-title">Sed do eiusmod tempor</h6>
                    <div class="product-meta">
                        <span class="product-color">Color: Blue</span>
                        <span class="product-size">Size: S</span>
                    </div>
                    <button class="remove-item" type="button">
                        <i class="bi bi-trash"></i> Remove
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-12 mt-3 mt-lg-0 text-center">
            <div class="price-tag">
                <span class="current-price">$49.99</span>
            </div>
        </div>
        <div class="col-lg-2 col-12 mt-3 mt-lg-0 text-center">
            <div class="quantity-selector">
                <button class="quantity-btn decrease">
                    <i class="bi bi-dash"></i>
                </button>
                <input type="number" class="quantity-input" value="1" min="1" max="10">
                <button class="quantity-btn increase">
                    <i class="bi bi-plus"></i>
                </button>
            </div>
        </div>
        <div class="col-lg-2 col-12 mt-3 mt-lg-0 text-center">
            <div class="item-total">
                <span>$49.99</span>
            </div>
        </div>
    </div>
</div>
