<div class="top-bar py-2 d-none d-lg-block">
    <div class="container-fluid container-xl">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <div class="top-bar-item me-4">
                        <i class="bi bi-telephone-fill me-2"></i>
                        <span>Customer Support: </span>
                        <a href="{{ asset('tel:+1234567890') }}">+216 92 824 054</a>
                    </div>
                    <div class="top-bar-item">
                        <i class="bi bi-envelope-fill me-2"></i>
                        <a href="mailto:support@example.com">support@insat.rnu.tn</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="d-flex justify-content-end">
                    <div class="top-bar-item me-4">
                        <a href="{{ path('app_user_checkout') }}">
                            <i class="bi bi-truck me-2"></i>Track Order
                        </a>
                    </div>
                    <div class="top-bar-item dropdown me-4">
                        <a href="#">
                            <i class="bi bi-translate me-2"></i>English
                        </a>
                    </div>
                    <div class="top-bar-item dropdown">
                        <a href="#">
                            <i class="bi bi-currency-dollar me-2"></i>USD
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>