{% extends 'base.html.twig' %}

{% block title %}
    About - GunStore
{% endblock %}

{% block body %}
    <body class="about-page">

        <!-- Page Header -->
        {% include 'fragments/header.html.twig' %}

        <main class="main">

            <!-- Page Title -->
            <div class="page-title light-background">
                <div class="container">
                    <nav class="breadcrumbs">
                        <ol>
                            <li><a href="{{ path('app_main') }}">Home</a></li>
                            <li class="current">About</li>
                        </ol>
                    </nav>
                    <h1>About</h1>
                </div>
            </div>
            <!-- End Page Title -->

            <!-- About 1 Section -->
            {% include 'fragments/about/section1.html.twig' %}
            <!-- /About 1 Section -->

            <!-- Stats Section -->
            {% include 'fragments/about/stats.html.twig' %}
            <!-- /Stats Section -->

            <!-- Testimonials Section -->
            {% include 'fragments/about/testimonials.html.twig' %}
            <!-- /Testimonials Section -->

        </main>

    </body>
{% endblock %}
