<div class="col-lg-3 profile-sidebar collapse d-lg-block" id="profileSidebar" data-aos="fade-right" data-aos-delay="200">
    <div class="profile-header">
        {% include 'fragments/dashboard/sidebar/sidebarHeader.html.twig' %}
    </div>

    <div class="profile-nav">
        <ul class="nav flex-column" id="profileTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a href="{{ path('app_admin_create_product') }}" class="nav-link" role="tab">
                    <i class="bi bi-star"></i>
                    <span>Create Product</span>
                </a>
            </li>

            <li class="nav-item" role="presentation">
                <a href="{{ path('app_admin_orders') }}" class="nav-link" role="tab">
                    <i class="bi bi-box-seam"></i>
                    <span>Orders</span>
                </a>
            </li>

            <li class="nav-item" role="presentation">
                <a href="{{ path('app_admin_users') }}" class="nav-link" role="tab">
                    <i class="bi bi-person"></i>
                    <span>Users</span>
                </a>
            </li>
        </ul>

        <h6 class="nav-section-title">Customer service</h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="bi bi-file-text"></i>
                    <span>Terms and conditions</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link logout">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Log out</span>
                </a>
            </li>
        </ul>
    </div>
</div>
