<div class="profile-avatar">
    <span>*</span>
</div>
<div class="profile-info">
    <h4>{{ user.username }}</h4>
    <div class="profile-bonus">
        <span>{{ user.email }}</span>
    </div>
</div>