<div class="profile-avatar">
    <span>S</span>
</div>
<div class="profile-info">
    <h4>Sarah Anderson</h4>
    <div class="profile-bonus">
        <i class="bi bi-gift"></i>
        <span>100 bonuses available</span>
    </div>
</div>