{% extends 'base.html.twig' %}

{% block title %}
    Products - Aim&Deploy
{% endblock %}

{% block body %}

    <body class="category-page">

        <!-- Page Header -->
            {% include 'fragments/header.html.twig' %}
        <!-- /Page Header -->


        <main class="main">

            <!-- Page Title -->
                <div class="page-title light-background">
                    <div class="container">
                        <nav class="breadcrumbs">
                            <ol>
                                <li><a href="{{ asset('index.html.twig') }}">Home</a></li>
                                <li class="current">Products</li>
                            </ol>
                        </nav>
                        <h1>Products</h1>
                    </div>
                </div>
            <!-- /Page Title -->

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Category Header Section -->
                            {% include 'fragments/products/filterForm.html.twig' %}
                        <!-- /Category Header Section -->

                        <!-- Category Product List Section -->
                            {% include 'fragments/dashboard/products/list.html.twig' %}
                        <!-- /Category Product List Section -->

                        <!-- Category Pagination Section -->
                            <section id="category-pagination" class="category-pagination section">
                                {{ knp_pagination_render(products, 'fragments/products/pageNavigation.html.twig') }} 
                            </section>
                        <!-- /Category Pagination Section -->
                    </div>
                </div>
            </div>
        </main>
    </body>
{% endblock %}