{% extends 'admin/dashboard.html.twig' %}

{% block content %}

<!-- Profile Sidebar -->
    {% include 'fragments/dashboard/sidebar/profilesidebar.html.twig' %}
<!-- /Profile Content -->

<div class="col-lg-9 profile-content" data-aos="fade-left" data-aos-delay="300">
    <div class="tab-content" id="profileTabsContent">
        <div class="tab-pane fade show active" id="orders" role="tabpanel" aria-labelledby="orders-tab">
            <div class="tab-header">
                <h2>Users</h2>
            </div>

            <div class="orders-table">
                <div class="table-header">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="sort-header">
                                Username
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="sort-header">
                                Firstname
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="sort-header">
                                Lastname
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sort-header">
                                Email
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="sort-header">
                                Operations
                            </div>
                        </div>
                    </div>
                </div>

                <div class="order-items">
                    {% include 'fragments/dashboard/users/list.html.twig' with {'users': users} %} 
                </div>

                <div class="pagination-container">
                    {{ knp_pagination_render(users) }}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}