<div class="color-filter-widget widget-item">

    <h3 class="widget-title">Filter by Color</h3>

    <div class="color-filter-content">
        <div class="color-options">
            <div class="form-check color-option">
                <input class="form-check-input" type="checkbox" value="black" id="color-black">
                <label class="form-check-label" for="color-black">
                    <span class="color-swatch" style="background-color: #000000;" title="Black"></span>
                </label>
            </div>

            <div class="form-check color-option">
                <input class="form-check-input" type="checkbox" value="white" id="color-white">
                <label class="form-check-label" for="color-white">
                    <span class="color-swatch" style="background-color: #ffffff;" title="White"></span>
                </label>
            </div>

            <div class="form-check color-option">
                <input class="form-check-input" type="checkbox" value="red" id="color-red">
                <label class="form-check-label" for="color-red">
                    <span class="color-swatch" style="background-color: #e74c3c;" title="Red"></span>
                </label>
            </div>

            <div class="form-check color-option">
                <input class="form-check-input" type="checkbox" value="blue" id="color-blue">
                <label class="form-check-label" for="color-blue">
                    <span class="color-swatch" style="background-color: #3498db;" title="Blue"></span>
                </label>
            </div>

            <div class="form-check color-option">
                <input class="form-check-input" type="checkbox" value="green" id="color-green">
                <label class="form-check-label" for="color-green">
                    <span class="color-swatch" style="background-color: #2ecc71;" title="Green"></span>
                </label>
            </div>

            <div class="form-check color-option">
                <input class="form-check-input" type="checkbox" value="yellow" id="color-yellow">
                <label class="form-check-label" for="color-yellow">
                    <span class="color-swatch" style="background-color: #f1c40f;" title="Yellow"></span>
                </label>
            </div>

            <div class="form-check color-option">
                <input class="form-check-input" type="checkbox" value="purple" id="color-purple">
                <label class="form-check-label" for="color-purple">
                    <span class="color-swatch" style="background-color: #9b59b6;" title="Purple"></span>
                </label>
            </div>

            <div class="form-check color-option">
                <input class="form-check-input" type="checkbox" value="orange" id="color-orange">
                <label class="form-check-label" for="color-orange">
                    <span class="color-swatch" style="background-color: #e67e22;" title="Orange"></span>
                </label>
            </div>

            <div class="form-check color-option">
                <input class="form-check-input" type="checkbox" value="pink" id="color-pink">
                <label class="form-check-label" for="color-pink">
                    <span class="color-swatch" style="background-color: #fd79a8;" title="Pink"></span>
                </label>
            </div>

            <div class="form-check color-option">
                <input class="form-check-input" type="checkbox" value="brown" id="color-brown">
                <label class="form-check-label" for="color-brown">
                    <span class="color-swatch" style="background-color: #795548;" title="Brown"></span>
                </label>
            </div>
        </div>

        <div class="filter-actions mt-3">
            <button type="button" class="btn btn-sm btn-outline-secondary">Clear All</button>
            <button type="button" class="btn btn-sm btn-primary">Apply Filter</button>
        </div>
    </div>

</div>