
{% extends 'base.html.twig' %}
{% block title %}
  Account - Aim&Deploy {% endblock %}
{% block body %}

  <body class="account-page">

<!-- Page Header -->
{% include 'fragments/header.html.twig' %}

<main class="main">
<!-- Page Title -->
<div class="page-title light-background">
    <div class="container">
        <nav class="breadcrumbs">
            <ol>
                <li><a href="{{ path('app_main') }}">Home</a></li>
                <li class="current">Account</li>
            </ol>
        </nav>
        <h1>Account</h1>
    </div>
</div><!-- End Page Title -->

  <!-- Account Section -->
  <section id="account" class="account section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">



      <div class="row">
        <!-- Profile Sidebar -->
        {% include 'fragments/account/profilesidebar.html.twig' %}
        <!-- Profile Content -->
        <div class="col-lg-9 profile-content" data-aos="fade-left" data-aos-delay="300">
          <div class="tab-content" id="profileTabsContent">
            <!-- Orders Tab -->
            {% include 'fragments/account/orderstab.html.twig'%}
            <!-- Wishlist Tab -->
            {% include 'fragments/account/wishlisttab.html.twig'%}
            <!-- Payment Methods Tab -->
            {% include 'fragments/account/paymentmethod.html.twig'%}

            <!-- Reviews Tab -->
            {% include 'fragments/account/reviewstab.html.twig'%}

            <!-- Personal Info Tab -->
            {% include 'fragments/account/personalinfos.html.twig'%}

            <!-- Addresses Tab -->
            {% include 'fragments/account/addressetab.html.twig'%}

            <!-- Notifications Tab -->
            {% include 'fragments/account/notificationtab.html.twig'%}

          </div>
        </div>
      </div>

    </div>

  </section><!-- /Account Section -->

</main>
{%endblock%}
{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const hash = window.location.hash;
            if (hash) {
                const tabTrigger = document.querySelector(`[data-bs-toggle="tab"][data-bs-target="${hash}"]`);
                if (tabTrigger) {
                    new bootstrap.Tab(tabTrigger).show();
                }
            }
        });
    </script>
{% endblock %}
